In [1]:
import pandas as pd
best_actors_df = pd.DataFrame({
    "Best Actors": ["Nic Cage", "Nic Cage", "Harrison Ford"]
})
best_actors_df

best_actors_df.duplicated()

0    False
1     True
2    False
dtype: bool

In [2]:
best_actors_df.duplicated().sum()

1

In [3]:
best_actors_df = best_actors_df.drop_duplicates()
best_actors_df

     Best Actors
0       Nic Cage
2  Harrison Ford